main
	h1.title Web Project Boilerplate
	img(src="img/congratz.gif", alt="Dancing gif" class="gif")
	div.tech
		h2.title Using the following technologies:
		ul.techs
			li Transpiler: BabelJs
			li PostCSS
			li Template Engine: Pug
			li Task Runner: Gulp
			li Package Manager: Yarn
			li Live Reload Server
			li Github Pages Deploy
