@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Fredericka+the+Great');
body {
	background-color: #b22222;
	display: flex;
	justify-content: center;
	align-items: center;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	--text-color: #fff;
}

main>* {
	margin: 1rem;
}

.title {
	text-align: center;
	font-size: 4rem;
	color: var(--text-color);
font-family: 'Fredericka the Great', cursive;
}

.gif {
	margin: 0 auto;
	border-radius: 5px;
}

.tech .title{
	font-size: 2rem;
	margin: 1rem 0;
}

.techs li{
	margin-right:.7rem;
	color: var(--text-color);
	font-size: 1.5rem;
	display: inline-block;
	font-family: 'Amatic SC', cursive;
}

.techs li::before{
 content: '✓'
}
